* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
ul {
	margin: 0 0 50px 0;
	padding: 0;
	text-align: center;
	font-size: 0;
}

ul li {
	list-style-type: none;
	display: inline-block;
	text-align: center;
	width: 100px;
	background: #fff;
	font-size: 20px;
	text-transform: uppercase;

}
.content {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: #F00;
	text-align: center;
	height: 100vh;
}

button {
	width: 200px;
	background: none;
	border: 3px solid #fff;
	font-size: 36px;
	color: #fff;
	transition: .5s;
	outline: none;
}

button:hover {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}