* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background: #F00;
	text-align: center;
	height: 100vh;
}

button {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 200px;
	background: none;
	border: 3px solid #fff;
	font-size: 36px;
	color: #fff;
	transition: .5s;
	outline: none;
}

button:hover {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}